body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:39px;
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:220px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u1123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:29px;
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:78px;
  width:130px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1123_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
